.ag-header-cell .ag-header-cell-menu-button {
	display: inline-block !important;
}
@media (max-width: 768px) {
	.ag-paging-row-summary-panel,
	.ag-paging-page-summary-panel {
		font-size: 10px;
	}

	.ag-cell,
	.teamCell {
		font-size: 12px;
	}

	.ag-header-row,
	.ag-paging-panel {
		height: 40px !important;
	}

	.ag-header-cell-label {
		font-size: 13px;
	}
}
