.ag-header-cell .ag-header-cell-menu-button {
	display: inline-block !important;
}

.teamCellRow {
	width: 275px;
}
@media (max-width: 768px) {
	.ag-paging-row-summary-panel,
	.ag-paging-page-summary-panel {
		font-size: 10px;
	}

	.ag-row .ag-cell {
		font-size: 12px;
		display: flex;
		align-items: center;
	}

	.teamCell {
		display: none;
	}

	.teamCellRow {
		width: 70px;
	}

	.ag-header-row,
	.ag-paging-panel {
		height: 40px !important;
	}

	.ag-header-cell-label {
		font-size: 13px;
	}
}
