.navHeader {
	background-color: #454545;
	height: 64px;
}

.navMenu {
	background-color: #454545;
}

.headerLogoContainer {
	a {
		display: flex;
		align-items: center;
		height: 64px;
	}
}

.headerLogo {
	width: 170px;
	height: 40px;
	display: flex;
	align-items: center;
}

.menuLink {
	display: flex;
	align-items: center;
	height: 64px;
	a {
		color: #fff;
	}
}

.menuIcon {
	font-size: 22px;
}

/* For screens smaller than 768px (typical mobile devices) */
@media (max-width: 768px) {
	.navHeader {
		height: 40px;
	}

	.headerLogoContainer {
		a {
			height: 40px;
		}
	}

	.headerLogo {
		height: 20px;
		width: 100px;
		margin-top: 0;
	}

	.menuLink {
		height: 40px;
		a {
			font-size: 10px;
		}
	}

	.menuIcon {
		font-size: 16px;
	}
}
